<a href="https://colab.research.google.com/github/justinballas/Articles/blob/main/TVM_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Talk about how python for finance is usually based on stocks... this is python for more traditional finance concepts... This tutorial may be useful to those starting out as a finance student and want to learn python at the same time.

Talk about numpy... Talk about numpy Finance

First we must install the numpy_financial package. To install packages in Jupyter notebooks or google colab, we must first type in an exclamation point in order to access the console, then type "pip install numpy_financial"

In [ ]:
!pip install numpy_financial

Collecting numpy_financial
  Downloading https://files.pythonhosted.org/packages/6a/be/d07585e440d58835bad8f1c9ca7823b5252ffeda4c797e653a20215fca65/numpy_financial-1.0.0-py3-none-any.whl
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from numpy_financial) (1.19.5)
Installing collected packages: numpy-financial
Successfully installed numpy-financial-1.0.0

Now we will import the packages that we will need for this tutorial.

In [ ]:
import numpy as np
import pandas as pd
import datetime as dt
import numpy_financial as npf

pd.set_option('display.max_rows', None)
pd.set_option('display.float_format', lambda x: '$%.0f' % x)



One of the first concepts you learn in finance is net present value or NPV of an annuity. "Explain NPV"... this is how you calculate npv in python.

In [ ]:
#First we will create a series of cash flows using a python list

discount_rate = .07

CFs = [-1000, 100, 200, 100, 50, 500, 600, 1000, 0, 250, 0, 350]


#Now we simpy use the numpy NPV function to calculate the net present value
npv_output = npf.npv(discount_rate, CFs)

print('The NPV for this project is: {}'.format(np.round(npv_output),2))

The NPV for this project is: 1069.0

NPV would not be complete with out its brother IRR "Explain IRR"

In [ ]:
irr_output = npf.irr(CFs)
print('The IRR for this project is: {}'.format(round((irr_output),2)))

The IRR for this project is: 0.22

Present value and Future value

In [ ]:
present_value = -5000
num_periods = 20
rate = .07
pmt = 0

future_value = npf.fv(rate=rate, nper=num_periods, pmt=pmt, pv=present_value)

print("The future value of this annuity is: {}".format(future_value))

#add one for when payments begin and end and for when a series of present values is passed

The future value of this annuity is: 19348.422312430917

In [ ]:
future_value = 19348.422312430917
present_value = npf.pv(rate=rate, nper=num_periods, pmt=pmt, fv=future_value)

print("The present value of this annuity is: {}".format(present_value))

The present value of this annuity is: -5000.0

rate

In [ ]:
npf.rate(nper=num_periods, pmt=pmt, fv=future_value, pv=present_value)

0.07000000000000003

now for the payment function, let's have some fun...

In [ ]:
present_value = -25000
future_value = 50000
num_periods = 10
rate = .1
when = 'end'
pmt = npf.pmt(rate=rate, nper=num_periods, pv=present_value, fv=future_value, when=when)
print('The payment at the end of this series of cash flows in order to make it equal its future value is: {}'.format(pmt))

The payment at the end of this series of cash flows in order to make it equal its future value is: 931.3651279372122

Amortization Schedule

In [ ]:
period = np.arange(60)+1
principle = 13700.00
ipmt = npf.ipmt(0.054/12, period, 60, principle)
ppmt = npf.ppmt(0.054/12, period, 60, principle)


principle_col = []
pmt_col = []
ppmt_col = []
ipmt_col = []

for payment in period:
  index = payment - 1
  pmt_col.append(ppmt[index] + ipmt[index])
  principle = principle + ppmt[index]
  principle_col.append(principle)
  ppmt_col.append(ppmt[index])
  ipmt_col.append(ipmt[index])

  # print(principle, payment, ppmt[index], ipmt[index])
  # amortization_table

amortization_table = pd.DataFrame({
    "Payment": pmt_col,
    "Principle_payment": ppmt_col,
    "Interest Payment": ipmt_col,
    "Principle": principle_col,
})

amortization_table

    Payment  Principle_payment  Interest Payment  Principle
0     $-261              $-199              $-62     $13501
1     $-261              $-200              $-61     $13300
2     $-261              $-201              $-60     $13099
3     $-261              $-202              $-59     $12897
4     $-261              $-203              $-58     $12694
5     $-261              $-204              $-57     $12490
6     $-261              $-205              $-56     $12285
7     $-261              $-206              $-55     $12079
8     $-261              $-207              $-54     $11873
9     $-261              $-208              $-53     $11665
10    $-261              $-209              $-52     $11457
11    $-261              $-209              $-52     $11247
12    $-261              $-210              $-51     $11037
13    $-261              $-211              $-50     $10825
14    $-261              $-212              $-49     $10613
15    $-261              $-213              $-48     $10400
16    $-261              $-214              $-47     $10185
17    $-261              $-215              $-46      $9970
18    $-261              $-216              $-45      $9754
19    $-261              $-217              $-44      $9537
20    $-261              $-218              $-43      $9319
21    $-261              $-219              $-42      $9099
22    $-261              $-220              $-41      $8879
23    $-261              $-221              $-40      $8658
24    $-261              $-222              $-39      $8436
25    $-261              $-223              $-38      $8213
26    $-261              $-224              $-37      $7989
27    $-261              $-225              $-36      $7764
28    $-261              $-226              $-35      $7538
29    $-261              $-227              $-34      $7311
30    $-261              $-228              $-33      $7082
31    $-261              $-229              $-32      $6853
32    $-261              $-230              $-31      $6623
33    $-261              $-231              $-30      $6392
34    $-261              $-232              $-29      $6160
35    $-261              $-233              $-28      $5926
36    $-261              $-234              $-27      $5692
37    $-261              $-235              $-26      $5456
38    $-261              $-237              $-25      $5220
39    $-261              $-238              $-23      $4982
40    $-261              $-239              $-22      $4744
41    $-261              $-240              $-21      $4504
42    $-261              $-241              $-20      $4263
43    $-261              $-242              $-19      $4021
44    $-261              $-243              $-18      $3778
45    $-261              $-244              $-17      $3534
46    $-261              $-245              $-16      $3289
47    $-261              $-246              $-15      $3043
48    $-261              $-247              $-14      $2796
49    $-261              $-248              $-13      $2547
50    $-261              $-250              $-11      $2297
51    $-261              $-251              $-10      $2047
52    $-261              $-252               $-9      $1795
53    $-261              $-253               $-8      $1542
54    $-261              $-254               $-7      $1288
55    $-261              $-255               $-6      $1033
56    $-261              $-256               $-5       $776
57    $-261              $-258               $-3       $519
58    $-261              $-259               $-2       $260
59    $-261              $-260               $-1        $-0

In [ ]:
#Financial Assumptions
AGE = 35
ST_tax = .40_08
LT_tax = .23_8
CONTRIBUTIONS = 25
CONTRIBUTION_AMT = 25_000
Turnover = 0.0
ROR = .08
DIST_NUM = 20+1
AGE_DIST_BEG = 65

plan_year=list(range(1,102-AGE))
calendar_year = []
age = []
deposit = []
BOY_balance = []
BOY_distribution = []
BOY_balance_less_dist = []
earnings = []
EOY_balance = []

annual_dist=0
for year in plan_year:

  #age
  age.append(AGE+year-1)

  #calendar year
  if year == 0:
    calendar_year.append(dt.datetime.today())
  else:
    calendar_year.append(dt.datetime.today() + dt.timedelta(days=(year-1)*365))
  calendar_year[year-1] = calendar_year[year-1].strftime('%Y')

  #depost
  if year <=CONTRIBUTIONS:
    deposit.append(CONTRIBUTION_AMT)
  else:
    deposit.append(0)

  #Balance at Beginning of Year
  if year <= 1:
    BOY_balance.append(deposit[0])
  elif year > 1:
    BOY_balance.append(deposit[year-1] + EOY_balance[year-2])
  
  #Distributions
  if age[year-1] == AGE_DIST_BEG:
    #Calculating Distribution
    PV_year_dist_start = BOY_balance[year-2]
    annual_dist=npf.pmt(ROR,DIST_NUM,PV_year_dist_start,0)
  else:
    pass

  if age[year-1] >= AGE_DIST_BEG and age[year-1] < AGE_DIST_BEG + DIST_NUM:
    BOY_distribution.append(annual_dist)
  else:
    BOY_distribution.append(0)

  #Balance at beginning of year less distribution
  bal = BOY_balance[year-1] + BOY_distribution[year-1]
  BOY_balance_less_dist.append(bal)

  #earnings
  earnings.append(BOY_balance_less_dist[year-1]*ROR)
  
  #End of Year Balance
  EOY_balance.append(BOY_balance[year-1] + earnings[year-1] + BOY_distribution[year-1])


#cv_dist_start = EOY_balance[AGE_DIST_BEG-1]
total_dist = sum(BOY_distribution)

#print('Cash Value at start of distributions: {}'.format(cv_dist_start))
print('Annual distribution: {}'.format(annual_dist))
print('Total Distributions: {}'.format(total_dist))

output_df = pd.DataFrame({'Year': plan_year,
            'Age': age,
            'Calendar Year': calendar_year,
            'Deposit': deposit,
            'BOY Balance': BOY_balance,
            'Distribution': BOY_distribution,
            'Earnings': earnings,
            'EOY Balance': EOY_balance
            })
output_df.set_index('Year')

Annual distribution: -268091.0478392256
Total Distributions: -5629912.004623737

      Age Calendar Year  Deposit  ...  Distribution  Earnings  EOY Balance
Year                              ...
1      35          2021    25000  ...            $0     $2000       $27000
2      36          2022    25000  ...            $0     $4160       $56160
3      37          2023    25000  ...            $0     $6493       $87653
4      38          2024    25000  ...            $0     $9012      $121665
5      39          2025    25000  ...            $0    $11733      $158398
6      40          2026    25000  ...            $0    $14672      $198070
7      41          2027    25000  ...            $0    $17846      $240916
8      42          2028    25000  ...            $0    $21273      $287189
9      43          2029    25000  ...            $0    $24975      $337164
10     44          2030    25000  ...            $0    $28973      $391137
11     45          2031    25000  ...            $0    $33291      $449428
12     46          2032    25000  ...            $0    $37954      $512382
13     47          2033    25000  ...            $0    $42991      $580373
14     48          2034    25000  ...            $0    $48430      $653803
15     49          2035    25000  ...            $0    $54304      $733107
16     50          2036    25000  ...            $0    $60649      $818756
17     51          2037    25000  ...            $0    $67500      $911256
18     52          2038    25000  ...            $0    $74900     $1011157
19     53          2039    25000  ...            $0    $82893     $1119049
20     54          2040    25000  ...            $0    $91524     $1235573
21     55          2041    25000  ...            $0   $100846     $1361419
22     56          2042    25000  ...            $0   $110914     $1497332
23     57          2043    25000  ...            $0   $121787     $1644119
24     58          2044    25000  ...            $0   $133530     $1802648
25     59          2045    25000  ...            $0   $146212     $1973860
26     60          2046        0  ...            $0   $157909     $2131769
27     61          2047        0  ...            $0   $170542     $2302311
28     62          2048        0  ...            $0   $184185     $2486496
29     63          2049        0  ...            $0   $198920     $2685415
30     64          2050        0  ...            $0   $214833     $2900248
31     65          2051        0  ...      $-268091   $210573     $2842730
32     66          2052        0  ...      $-268091   $205971     $2780610
33     67          2053        0  ...      $-268091   $201002     $2713521
34     68          2054        0  ...      $-268091   $195634     $2641064
35     69          2055        0  ...      $-268091   $189838     $2562811
36     70          2056        0  ...      $-268091   $183578     $2478297
37     71          2057        0  ...      $-268091   $176816     $2387023
38     72          2058        0  ...      $-268091   $169515     $2288446
39     73          2059        0  ...      $-268091   $161628     $2181983
40     74          2060        0  ...      $-268091   $153111     $2067004
41     75          2061        0  ...      $-268091   $143913     $1942826
42     76          2062        0  ...      $-268091   $133979     $1808714
43     77          2063        0  ...      $-268091   $123250     $1663872
44     78          2064        0  ...      $-268091   $111662     $1507444
45     79          2065        0  ...      $-268091    $99148     $1338501
46     80          2066        0  ...      $-268091    $85633     $1156043
47     81          2067        0  ...      $-268091    $71036      $958988
48     82          2068        0  ...      $-268091    $55272      $746168
49     83          2069        0  ...      $-268091    $38246      $516323
50     84          2070        0  ...      $-268091    $19859      $268091
51     85          2071        0  ...      $-268091       $-0          $-0
52     86          2072        0  ...            $0       $-0          $-0
53     87          2073        0  ...            $0       $-0          $-0
54     88          2074        0  ...            $0       $-0          $-0
55     89          2075        0  ...            $0       $-0          $-0
56     90          2076        0  ...            $0       $-0          $-0
57     91          2077        0  ...            $0       $-0          $-0
58     92          2078        0  ...            $0       $-0          $-0
59     93          2079        0  ...            $0       $-0          $-0
60     94          2080        0  ...            $0       $-0          $-0
61     95          2081        0  ...            $0       $-0          $-0
62     96          2082        0  ...            $0       $-0          $-0
63     97          2083        0  ...            $0       $-0          $-0
64     98          2084        0  ...            $0       $-0          $-0
65     99          2085        0  ...            $0       $-0          $-0
66    100          2086        0  ...            $0       $-0          $-0

[66 rows x 7 columns]

use ppmt and pmt to create an amortization table

Part 2 will be performing a DCF calculation on a company